name: Generate Snake

permissions:
  contents: write
  pages: write
  id-token: write

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create dist folder
        run: mkdir -p dist

      # ------------------ Light Style ------------------
      - name: Generate Light Snake
        uses: Platane/snk@v3
        with:
          github_user_name: Pro-Bandey
          outputs: |
            dist/github-contribution-grid-snake-light.svg
            dist/github-contribution-grid-snake-light.gif
          style: light
          shape: round
          background: "#ffffff"
          month_labels: true

      # ------------------ Dark Style ------------------
      - name: Generate Dark Snake
        uses: Platane/snk@v3
        with:
          github_user_name: Pro-Bandey
          outputs: |
            dist/github-contribution-grid-snake-dark.svg
            dist/github-contribution-grid-snake-dark.gif
          style: dark
          shape: square
          background: "#1e1e1e"
          month_labels: true

      # ------------------ Ocean Style ------------------
      - name: Generate Ocean Snake
        uses: Platane/snk@v3
        with:
          github_user_name: Pro-Bandey
          outputs: |
            dist/github-contribution-grid-snake-ocean.svg
            dist/github-contribution-grid-snake-ocean.gif
          style: ocean
          shape: triangle
          background: "#a0e7e5"
          month_labels: true

      # ------------------ Dracula Style ------------------
      - name: Generate Dracula Snake
        uses: Platane/snk@v3
        with:
          github_user_name: Pro-Bandey
          outputs: |
            dist/github-contribution-grid-snake-dracula.svg
            dist/github-contribution-grid-snake-dracula.gif
          style: dracula
          shape: star
          background: "#282a36"
          month_labels: true

      - name: Deploy to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
